@import '../../globalSass/_variables.scss';

.app-header {
  display: flex;
  position: fixed;
  background: #6ba2dd;
  width: 100%;
  height: 48px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: black 0 0 2px;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #9acccd;
  }
  .search-bar{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    input{
      font-size: 1rem;
      border: none;
      font-weight: 100;
      padding: 8px 10px 8px 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      flex-grow: 1;
    }
    .search{
      width: 40px;
      height: 34px;
      background: $dark-blue;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg{
        display: flex;
        width: 18px;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
  }
  .nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    li:first-of-type{
      border-left: none;
    }
    li:last-of-type{
      padding-right: 0px;
    }
    li:hover{
      text-shadow: white 0px 0px 4px;
    }
    li {
      padding-right: 16px;
      border-left: 1px solid #ffffff54;
      font-size: 1.3rem;
      font-weight: 100;
      padding-left: 10px;
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
    }

    .cog {
      margin-top: 2px;
      font-size: 1.3rem;
      display: none;
      padding-left: 10px;
    }
  }

  .nav-btn {
    text-transform: capitalize;
    cursor: pointer;
  }
}