// css reset and vars
@import './globalSass/_reset.scss';
@import './globalSass/_variables.scss';

html{
  height: 100%;
  body{
    height: inherit;
    #root{
      height: inherit;
      .app{
        height: inherit;
        padding-top: $navbar-height;
      }
    }
  }
}


